body{
    background-image: url("1s.jpg");
height:900px ;
}
.sani {
    width:1000px;
    /* height: 600px; */
    margin: auto;

}

.sani h1{
    text-align: center;
}

.sani1 {
    margin-top: 900px;
    width:1000px;
    /* height: 600px; */
    margin: auto;
    display: flex;

}

.sani1 div img{
width: 200px;
height: 200px;
margin: 50px;
/* padding: 50px; */
margin-left: 0;

}
.sani ul {
    margin-left: 50px;
    padding: 50px;
    font-size: 30px;
    /* text-decoration: none; */
}